# Varnish 4 VCLs must start with this statement.
vcl 4.0;

backend default {
  .host = "<%= @varnish_host -%>";
  .port = "<%= @varnish_port -%>";
}
sub vcl_recv {
 if (req.restarts == 0) {
   if (req.http.x-forwarded-for) {
     set req.http.x-forwarded-for = req.http.x-forwarded-for + ", " + client.ip;
   } else {
     set req.http.x-forwarded-for = client.ip;
   }
 }

 if (req.method != "GET" &&
   req.method != "HEAD" &&
   req.method != "PUT" &&
   req.method != "POST" &&
   req.method != "TRACE" &&
   req.method != "OPTIONS" &&
   req.method != "DELETE") {
   # Non-RFC2616 or CONNECT which is weird.
   return (pipe);
 }

 if (req.method != "GET" && req.method != "HEAD") {
   # We only deal with GET and HEAD by default.
   return (pass);
 }

 # Whitelist only the Drupal session cookie (secure or otherwise).
 if (req.http.cookie) {
   set req.http.cookie = ";" + req.http.cookie;
   set req.http.cookie = regsuball(req.http.cookie, "; +", ";");
   set req.http.cookie = regsuball(req.http.cookie, ";(S?SESS[a-z0-9]+)=", "; \1=");
   set req.http.cookie = regsuball(req.http.cookie, ";[^ ][^;]*", "");
   set req.http.cookie = regsuball(req.http.cookie, "^[; ]+|[; ]+$", "");
 }

 # Remove a ";" prefix, if present.
 set req.http.cookie = regsub(req.http.cookie, "^;\s*", "");

 # Remove empty cookies.
 if (req.http.cookie ~ "^\s*$") {
   unset req.http.cookie;
 }

 # Skip the Varnish cache for install, update, and cron
 if (req.url ~ "install\.php|update\.php|cron\.php") {
   return (pass);
 }

 # Don't use Cookie variance for static files.
 if (req.url ~ "\.(aif|aiff|au|avi|bin|bmp|bmp|cab|carb|cct|cdf|class|css|dcr|doc|dtd|eot|exe|flv|gcf|gff|gif|gif|grv|hdml|hqx|html|ico|ini|jpeg|jpg|jpg|js|mov|mp3|nc|pct|pdf|pdf|png|png|ppc|pws|svg|swa|swf|swf|ttf|txt|vbs|w32|wav|wbmp|wml|wmlc|wmls|wmlsc|woff|xml|xsd|xsl|zip)") {
   unset req.http.cookie;
 }

 return (hash);
}

sub vcl_hash {
 # Allow Varnish to cache responses with basic auth by adding the basic
 # auth to the cache key.
 if (req.http.authorization) {
  hash_data(req.http.authorization);
 }

 # Similarly add the Cookie header (which gets trimmed down to just the
 # session cookie) to the cache key to differentiate anonymous traffic
 # from authenticated.
 if (req.http.cookie) {
   hash_data(req.http.cookie);
 }
}

sub vcl_backend_response {
 # Strip any cookies before an image/js/css is inserted into cache.
 if (bereq.url ~ "\.(aif|aiff|au|avi|bin|bmp|bmp|cab|carb|cct|cdf|class|css|dcr|doc|dtd|eot|exe|flv|gcf|gff|gif|gif|grv|hdml|hqx|html|ico|ini|jpeg|jpg|jpg|js|mov|mp3|nc|pct|pdf|pdf|png|png|ppc|pws|svg|swa|swf|swf|ttf|txt|vbs|w32|wav|wbmp|wml|wmlc|wmls|wmlsc|woff|xml|xsd|xsl|zip)") {
   unset beresp.http.set-cookie;
 }

 # Set a short TTL for HTML to force re-updating against the Drupal
 # page cache.
 if (beresp.http.Content-Type ~ "text/html" && beresp.ttl > 0s) {
   set beresp.ttl = 1m;
 }

 # Keep this around for 24 hours past its TTL. This will allow Varnish 4 to
 # re-update it in the background.
 set beresp.grace = 24h;
 set beresp.keep = 24h;

 # You _may_ want to return a hit-for-pass here, or disable it, depending on
 # if you expect to have a lot of non-cacheable responses.
 #
 # The default here will fall through to Varnish's default processing logic
 # which will sent a 2 minute hit-for-pass if this URL returns an uncacheable
 # response.
 #
 # Comment the following line to enable hit-for-pass.
 return (deliver);
}

